:root{
    /* Primary colors */
    --main-color: hsl(322, 100%, 66%); /* Pink */
    --main-color: hsl(321, 100%, 78%); /* Ligth Pink */
    --main-color: hsl(0, 100%, 63%); /* Ligth Red */

    /* Neutral colors */
    --main-color: hsl(192, 100%, 9%); /* Very Dark Cyan */
    --main-color: hsl(207, 100%, 98%); /* Very Pale Blue */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color:hsl(192, 100%, 9%);
}

/*SECTION 1*/
.build-section{
    display: flex;
    justify-content: space-between;
    padding: 1.2rem;
}

section>div img{
    width: 110px;
    height: 20px;
}


.btn-try{
    border-radius: 20px;
    width: 90px;
    height: 25px;
    border-color: hsl(321, 100%, 78%);
    color: hsl(321, 100%, 78%);
    background-color: transparent;
    font-size: 10px;
}

.paragraph{
    text-align: center;

}
.paragraph h2{
    font-weight: 700;
    margin-top: 80px;
    padding: 30px;
    color: hsl(192, 100%, 9%);
    font-family: Poppins;
}
.paragraph p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color:hsl(192, 100%, 9%);
    padding: 1rem;
   
}
.paragraph button{
    border-radius: 30px;
    width: 200px;
    height: 40px;
    font-family: 'Open sans';
    background-color: hsl(322, 100%, 66%);
    color: white;
    border-color: hsl(322, 100%, 66%);;
    margin-top: 50px;
}

.screen-imagin{
    margin: 6rem 3rem 0rem 3rem;
    width: 80%;
}
section>img{
    width: 100%;
    display: block;

}

/*SECTION 2*/
#container2{
    padding: 7rem 7rem 0rem 7rem;
}

#container2>div img{
    width: 30px;
    height: 30px;
    
}
#container2>div h1{
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0;
    color:hsl(192, 100%, 9%);  
}

#container2>div p{
    text-align: center;
    color: dimgrey;
    margin-bottom: 5rem;
} 

/*SECTION 3*/
#container3{
    text-align: center;
    padding: 3rem;
    font-weight: 400;
    height: 100%;
     
}

.top-mobile1{
    width: 100%;
    display: block;
   
}

#container3 img{
    height: auto;
    width: 260px; 
    align-items: center;
    margin-bottom: 50px;
  
}


#container3>div .grow~h3{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color:hsl(192, 100%, 9%);
    font-weight: 600;
}   
.botton-mobile1{
    width: 100%;
    display: block;
    
}

.bckgrn-color{
    background-color: #f6fbff;
}


/* SECTION 4 */
#container4{
    padding: 3rem;
    text-align: center;
    font-weight: 400;
     
}
#container4 img{
    height: auto;
    width: 260px; 
    margin-top: 30px;
    align-items: center;
    margin-bottom: 80px;
}
#container4>div .flowing~h3{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color:hsl(192, 100%, 9%);
    font-weight: 600;
}

/* SECTION 5 */
#container5{
    display: flex;
    padding: 3rem;
    text-align: center;
    font-weight: 400;
     
}
#container5 img{
    height: auto;
    width: 260px; 
    margin-top: 30px;
    align-items: center;
    margin-bottom: 80px;
}
#container5>div .your-users~h3{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color:#00252e;
    font-weight: 600;
}

.top-mobile2{
    width: 100%;
    display: block;
    
}

.bottom-mobile2{
    width: 100%;
    display: block;
}

/* Ready To Build Your Community? */
.question-to{
    text-align: center;

}
.question-to h2{
    display: block;
    font-weight: 700;
    margin-top: 80px;
    padding: 30px;
    font-family: 'Poppins', sans-serif;
    color: hsl(192, 100%, 9%);
}

.question-to button{
    border-radius: 30px;
    width: 200px;
    height: 40px;
    background-color: hsl(322, 100%, 66%);
    color: white;
    border-color: hsl(322, 100%, 66%);;
    margin-top: 10px;
    margin-bottom: 200px;
}
section>img{
    width: 100%;
}
/* SECTION 6 */
#container6{
    background-color: #00252e;

}
#container6>h3 {
    margin: 0%;
    padding: 4rem 0rem 1.8rem 1rem;
    align-content: center;
    color: #f6fbff;
    font-family: 'Poppins';
}

#container6>p {
color: #f6fbff;
font-family: 'Open Sans';
font-size: 1rem;
line-height: 1.8em;
padding: 0rem 1rem 0rem 1rem;
}

#container6>div {
    text-align: center;
}

#container6>div>input {
width: 20rem;
height: 2.8rem;
border-radius: 0.5rem;
margin-top: 2rem;
}

#container6>img {
width: 12rem;
height: 2rem;
margin: 5rem 0rem 1rem 1.8rem;
filter: invert(150%) sepia(32%) saturate(3948%) hue-rotate(180deg) brightness(500%) contrast(107%);
}

#container6>p>img {
    width: 1.5rem;
    margin-right: .8rem;
    margin-top: 1rem;
}

i {
    font-size: 2rem;
    padding: 2rem 0rem 4rem 1.8rem;
}

.btn-subscribe{
    border-radius: 0.5rem;
    width: 10rem;
    height: 2.8rem;
    border-color: hsl(321, 100%, 68%);
    background-color: hsl(321, 100%, 68%);
    color:#f6fbff;
    font-family: 'open sans';
    margin-top: .6rem;
    margin-left: 10rem;
}


@media screen and (min-width: 768px) {
    .screen-imagin>img {
        width: 80%;
    }

    #container2{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #container2>div img{
        width: 60px;
        height: 60px;
        
    }

    #container2>div h1{
        font-size: 5rem;
    }
    
    .middle{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 4rem 0rem 0rem 0rem;
    }

    .paragraph>h2 {
        padding: 0rem 3rem 0rem 3rem;
    }

    .paragraph>p{
        padding: 2rem 15rem 0rem 15rem;
        font-size: .9rem;
    }
    .paragraph>button {
        margin-top: 2rem;
    }

    .d-flex{
        display: flex; 
        flex-direction: row;
        align-items: center;
        text-align: left;
        font-family: "Open sans";   
        font-weight: bolder;
    }

   .d-flexr{
        display: flex; 
        flex-direction: row-reverse;
        align-items: center;
        text-align: left;
        font-family: "Open sans";   
        font-weight: bolder;
    }
    
    #container3 img {
        width: 50%;

    }

    #container4 img {
        width: 50%;
    }

    #container5 img {
        width: 50%;
    }
}