/* :root{
 
    --main-color: hsl(322, 100%, 66%);
    --main-color: hsl(321, 100%, 78%);
    --main-color: hsl(0, 100%, 63%); 


    --main-color: hsl(192, 100%, 9%); 
    --main-color: hsl(207, 100%, 98%); 
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color:hsl(192, 100%, 9%);
    padding: 30px;
}

/*SECTION 1*/
.build-section{
    display: flex;
    justify-content: space-between;
    padding: 1.6rem;
}

section>div img{
    width: 110px;
    height: 20px;
}


.btn-try{
    border-radius: 20px;
    width: 90px;
    height: 25px;
    border-color: hsl(321, 100%, 78%);
    color: hsl(321, 100%, 78%);
    background-color: transparent;
    font-size: 10px;
}

.paragraph{
    text-align: center;

}
.paragraph h2{
    font-weight: 700;
    margin-top: 80px;
    padding: 30px;
    font-family: 'Poppins', sans-serif;
    color: hsl(192, 100%, 9%);
    font-weight: 800;
    
}

.paragraph button{
    border-radius: 30px;
    width: 200px;
    height: 40px;
    background-color: hsl(322, 100%, 66%);
    color: white;
    font-weight: 600;
    border-color: hsl(322, 100%, 66%);;
    margin-top: 50px;
}

.screen-imagin{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
section>img{
    width: 20rem;

}

/*SECTION 2*/
#container2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#container2>div img{
    width: 30px;
    height: 30px;
    justify-content: center;
}
#container2>div h1{
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    color:hsl(192, 100%, 9%);
    
}
#container2>div p{
    text-align: center;
    color: dimgray;
   
}
#container2>div .messages{
    margin-top: 80px;
    
}

/*SECTION 3*/
#container3{
    display: flex;
    text-align: center;
    font-weight: 400;
    margin-top: 100px;
    margin-bottom: 50px;
     
}


#container3 img{
    height: auto;
    width: 260px; 
    align-items: center;
    margin-bottom: 50px;
  
}

#container3>div .grow~h3{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color:hsl(192, 100%, 9%);
    font-weight: 800;
    margin-bottom: 5px;
}   


/* SECTION 4 */
#container4{
    display: flex;
    text-align: center;
    font-weight: 400;
     
}
#container4 img{
    height: auto;
    width: 260px; 
    margin-top: 30px;
    align-items: center;
    margin-bottom: 80px;
}
#container4>div .flowing~h3{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color:hsl(192, 100%, 9%);
    font-weight: 800;
    margin-bottom: 5px;
}

/* SECTION 5 */
#container5{
    display: flex;
    text-align: center;
    font-weight: 400;
     
}
#container5 img{
    height: auto;
    width: 260px; 
    margin-top: 30px;
    align-items: center;
    margin-bottom: 80px;
}
#container5>div .your-users~h3{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color:hsl(192, 100%, 9%);
    font-weight: 800;
    margin-bottom: 5px;
}

/* Ready To Build Your Community? */
.question-to{
    text-align: center;

}
.question-to h2{
    font-weight: 700;
    margin-top: 80px;
    padding: 30px;
    font-family: 'Poppins', sans-serif;
    color: hsl(192, 100%, 9%);
    font-weight: 800;
    
}

.question-to button{
    border-radius: 30px;
    width: 200px;
    height: 40px;
    background-color: hsl(322, 100%, 66%);
    color: white;
    font-weight: 600;
    border-color: hsl(322, 100%, 66%);;
    margin-top: 10px;
    margin-bottom: 200px;
}

body>img{
    margin 0;
}

footer{
    display: flex;
    flex-direction: column;
    /* background-image: url("../reto-landing-equipo-enero/images/bg-footer-top-mobile.svg"); */
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(192, 100%, 9%);
    margin-top: -5px;
    }

footer>section h3{
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px;
    margin-bottom: -10px;
    
}

.control{
    justify-content: center;
    display: flex;
    height: 40px;
    width: 300px;
    border-radius: 8px;
    align-content: center;
    margin-left: 35px;
    margin-bottom: 15px;
}

footer>section p~button{
    border-radius: 10px;
    width: 150px;
    height: 40px;
    background-color: hsl(322, 100%, 66%);
    color: white;
    font-weight: 400;
    border-color: hsl(322, 100%, 66%);;
    margin-left: 50%;
    margin-bottom: 50px;
   
}
.btn-subscribe{
    justify-content: end;
    display: flex;
}

footer p{
    padding: 30px;
    color: white;
    font-weight: 400;
    font-size: small;

}

#social-networks .phone-img{
    width: auto;
    vertical-align: middle;
}

#social-networks .email-img{
    width: auto;
    vertical-align: middle;
}




