:root{
    /* Primary colors */
    --main-color: hsl(322, 100%, 66%); /* Pink */
    --main-color: hsl(321, 100%, 78%); /* Ligth Pink */
    --main-color: hsl(0, 100%, 63%); /* Ligth Red */

    /* Neutral colors */
    --main-color: hsl(192, 100%, 9%); /* Very Dark Cyan */
    --main-color: hsl(207, 100%, 98%); /* Very Pale Blue */
}

*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}


body p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color:hsl(192, 100%, 9%);
}

/*SECTION 1*/
.build-section{
    display: flex;
    justify-content: space-between;
    padding: 1.2rem;
}

section>div img{
    width: 110px;
    height: 20px;
}


.btn-try{
    border-radius: 20px;
    width: 90px;
    height: 25px;
    border-color: hsl(321, 100%, 78%);
    color: hsl(321, 100%, 78%);
    background-color: transparent;
    font-size: 10px;
}

.paragraph{
    text-align: center;

}
.paragraph h2{
    font-weight: 700;
    margin-top: 80px;
    padding: 30px;
    color: hsl(192, 100%, 9%);
    font-family: Poppins;
}
.paragraph p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color:hsl(192, 100%, 9%);
   
}
.paragraph button{
    border-radius: 30px;
    width: 200px;
    height: 40px;
    background-color: hsl(322, 100%, 66%);
    color: white;
    border-color: hsl(322, 100%, 66%);;
    margin-top: 50px;
}

.screen-imagin{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
section>img{
    width: 20rem;

}

/*SECTION 2*/
#container2{
    display: flex;
    padding: 3rem;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    
}
#container2>div img{
    width: 30px;
    height: 30px;
    justify-content: center;
}
#container2>div h1{
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    color:hsl(192, 100%, 9%);
    
}
#container2>div p{
    text-align: center;
    color: dimgray;
   
}

/*SECTION 3*/
#container3{
    display: flex;
    padding: 3rem;
    text-align: center;
    font-weight: 400;
    height: 100%;
     
}

.top-mobile1{
   
}

#container3 img{
    height: auto;
    width: 260px; 
    align-items: center;
    margin-bottom: 50px;
  
}


#container3>div .grow~h3{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color:hsl(192, 100%, 9%);
    font-weight: 600;
}   
.botton-mobile1{
    
}

.bckgrn-color{
    background-color: #f6fbff;
}


/* SECTION 4 */
#container4{
    display: flex;
    padding: 3rem;
    text-align: center;
    font-weight: 400;
     
}
#container4 img{
    height: auto;
    width: 260px; 
    margin-top: 30px;
    align-items: center;
    margin-bottom: 80px;
}
#container4>div .flowing~h3{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color:hsl(192, 100%, 9%);
    font-weight: 600;
}

/* SECTION 5 */
#container5{
    display: flex;
    padding: 3rem;
    text-align: center;
    font-weight: 400;
     
}
#container5 img{
    height: auto;
    width: 260px; 
    margin-top: 30px;
    align-items: center;
    margin-bottom: 80px;
}
#container5>div .your-users~h3{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color:hsl(192, 100%, 9%);
    font-weight: 600;
}

/* Ready To Build Your Community? */
.question-to{
    text-align: center;

}
.question-to h2{
    font-weight: 700;
    margin-top: 80px;
    padding: 30px;
    font-family: 'Poppins', sans-serif;
    color: hsl(192, 100%, 9%);
}

.question-to button{
    border-radius: 30px;
    width: 200px;
    height: 40px;
    background-color: hsl(322, 100%, 66%);
    color: white;
    border-color: hsl(322, 100%, 66%);;
    margin-top: 10px;
    margin-bottom: 200px;
}

section>img{
    width: 100%;
    
}

#container6{
    background-color: #00252e;
}

#container6>h3{
    z-index: auto;
    margin-top: 0;
}

@media screen and (min-width: 768px) {
    .screen-imagin>img {
        width: 70%;
    }

    #container2 {
        display: inline-block;
        
    }
    
}